@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: url("./Images/Oulu_logo.jpg");
  background-size: contain;
}
.title-container {
  display: flex;
  justify-content: center;
}

.title {
  padding: 3rem;
  font-weight: bold;
  backdrop-filter: brightness(0.6);
}

.grid-blur {
  backdrop-filter: brightness(0.6);
  max-width: 280px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.grid-cards:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
